body{
  font-family: Impact;
  font-size:30px;
  background:#161616;
  }
div.box {
  background: red;
  margin: 0 auto;
  width: 200px;
  padding: 100px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
div.box2 {
  margin: 0 auto;
  width: 200px;
  padding: 100px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
div.menu-main-menu-container {
 
 list-style-type: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font color: red;
}
svg {
  width: 100vw;
  height: 100vh;
}


svg {
  visibility: hidden; 
}
p.jj{
font-size: 20px;
text-align: center;  
}
