html{ 
  color:red;
}
body{
  font-family: Impact;
  font-size:30px;
  font color:#F00;
  margin: 0; 
  background-color: black;
  background:#000;
  }
div.box {
  background: red;
  margin: 0 auto;
  width: 200px;
  padding: 100px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
div.box2 {
  margin: 0 auto;
  width: 500px;
  padding: 550px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
div.menu-main-menu-container li{
 
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: red;
    text-decoration: none;
}
svg {
  width: 100vw;
  height: 100vh;
}


svg {
  visibility: hidden; 
}
p.jj{
font-size: 20px;
text-align: left;
border: 6px solid white;
}
a{
  color:red;
}
* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: none;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
